@import bourbon/bourbon
@import grid-settings
@import neat/neat
@import normalize
@import dc
@import theme


nav
  +outer-container
  .logo
    float: right
    margin-top: 10px
  h1
    +span-columns(10)

#resetAll
  margin-left: 10px
  float: right
  +button
    
section#main
  +outer-container

  .toolbar
    +span-columns(12)
    height: 40px

  #mainCharts
    +outer-container
    #chart-complaint-volume
      +span-columns(12)
      +media($tablet)
        +span-columns(8)

      +media($mobile)
        +span-columns(4)
    #chart-by-state
      display: none
    
  .filters
    +span-columns(12)
    #row-chart-count-by-company
      +span-columns(4)
      +media($tablet)
        +span-columns(8)

      +media($mobile)
        +span-columns(4)
    #other-filters
      +span-columns(8)
      +outer-container

      +media($tablet)
        +span-columns(8)

      +media($mobile)
        +span-columns(4)

      #productFilters, #issueFilters, #monthYearFilters, #responseDisputedFilters
        +span-columns(12)
        div
          +span-columns(6)
          +media($tablet)
            +span-columns(4)

          +media($mobile)
            +span-columns(4)

  #complaintTable
    +span-columns(12)
    th, tr td
      border: 1px solid #DDD
      padding: 5px
    h2
      margin-top: 10px

  
  #footer
    +span-columns(12)
    text-align: center
